<!DOCTYPE html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Entity Overview</title>
</head>
<body>
<div th:switch="${entities}">
    <h2 th:case="null">No entity yet!</h2>
    <div th:case="*">
        <h2>Entity</h2>
        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>Subject</th>
                <th>Policy</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="entity : ${entities}">
                <td th:text="${entity.id}"></td>
                <td th:text="${entity.sub}"></td>
                <td th:text="${entity.policies}"></td>
                <td><a th:href="@{/editEntity/{id}(id=${entity.id})}">Edit</a></td>
                <td><a th:href="@{/deleteEntity/{id}(id=${entity.id})}">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <p><a href="/add">Add new entity</a></p>
</div>
</body>
</html>